<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITP4915_group3_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ITP4915_group3_project.Properties.Settings._4523_g1_project_dbConnectionString"
            connectionString="server=localhost;user id=root;password=123123;persistsecurityinfo=True;database=4523_g1_project_db;port=3308;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ITP4915_group3_project.Properties.Settings>
      <setting name="autoMatch" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="autoBPA" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="autoWarehouse" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="matchTime1" serializeAs="String">
        <value>2023-06-17</value>
      </setting>
      <setting name="matchTime2" serializeAs="String">
        <value>06/17/2023 08:00:00</value>
      </setting>
      <setting name="matchTime3" serializeAs="String">
        <value>06/17/2023 16:00:00</value>
      </setting>
    </ITP4915_group3_project.Properties.Settings>
  </userSettings>
</configuration>